$main-bg-color: #f5f5f5;
$white-bg-color: #ffffff;
$white-lilac-bg-color: #eaeaf6;
$mint-bg-color: #c2f1b7;

$primary-text-color: #2e1a47;
$secondary-text-color: #8c8496;
$mid-gray-text-color: #696871;

$persimmon-color: #ff6a4d;
$oslo-gray-color: #878b90;
$martini-color: #a9a1a1;
$pigeon-post-color: #b1b2dd;
$web-orange-color: #efac00;
$pastel-green-color: #82db6d;
$carnation-color: #f56c55;
$nobel-color: #b6b6b6;
$spun-pearl-color: #aea9b5;
