@import "fonts", "colors";

.main-section {
  margin-top: 142px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .main-section-text-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    #fancy-arrow {
      position: absolute;
      top: -90px;
      right: 0;
    }

    & h2 {
      margin-top: 0;
      font-size: 30.457px;
      line-height: 36px;
      font-weight: 700;
      color: $primary-text-color;
      position: relative;
      margin-bottom: 25px;

      &::before {
        display: block;
        content: "";
        width: 31px;
        height: 2px;
        background: $persimmon-color;
        position: absolute;
        bottom: -15px;
        left: 0;
      }
    }

    & p {
      font-size: 15.3732px;
      line-height: 22px;
      color: $secondary-text-color;
      font-weight: 200;
      width: 500px;
      margin-top: 0;
    }

    & img {
      margin-left: -70px;
    }
  }

  .request-access-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $white-bg-color;
    border-radius: 25px;
    padding: 37px 40px 43px 37px;

    .user-info-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 28px;
      column-gap: 30px;
      font-size: 11.1561px;
      line-height: 15px;

      & div {
        position: relative;

        & input {
          position: relative;
          z-index: 9;
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 2px solid $primary-text-color;
          transition: all ease-in-out 0.3s;

          &:focus ~ label {
            top: -14px;
            font-size: 11px;
            font-weight: 700;
          }

          &:not(:placeholder-shown) ~ label {
            top: -14px;
            font-size: 11px;
            font-weight: 700;
          }

          &:invalid {
            border-color: $persimmon-color;
          }

          &:valid:not(:placeholder-shown) {
            border-color: $pastel-green-color;
            color: $pastel-green-color;
          }
        }

        & label {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 10;
          transition: all ease-in-out 0.3s;
        }
      }
    }
    .radios-inputs {
      display: flex;
      flex-direction: column;
      margin-top: 36px;

      & fieldset {
        border: none;
        font-weight: 700;
        font-size: 11.5726px;
        line-height: 15px;
        color: $primary-text-color;
        margin-bottom: 36px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0;

        & legend {
          padding: 0;
        }

        & div {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 25px;

          & span {
            width: 15px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
            border: 2px solid $primary-text-color;
            border-radius: 50%;
            position: relative;
            margin-right: 8px;
            transition: all ease-in-out 0.3s;
          }

          & input {
            margin: 0;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
          }

          & input:checked ~ span {
            background: $primary-text-color;
          }

          & input:checked ~ span::after {
            content: "\2713";
            position: absolute;
            left: 3px;
            top: 0;
            bottom: 5px;
            right: 5px;
            font-size: 9px;
            color: white;
          }
        }
      }
    }

    .last-input {
      margin-top: 5px;
      width: 100%;

      & label {
        margin-bottom: 16px;
      }

      & input {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 2px solid $primary-text-color;
        padding: 7px;
        font-size: 11.1561px;
        line-height: 15px;
        color: $primary-text-color;
        font-weight: 700;

        &::placeholder {
          font-weight: 400;
          color: #8c8496;
          opacity: 80%;
        }
      }
    }

    button {
      margin-top: 40px;
      font-family: $secondary-font-family;
      font-size: 11.89px;
      line-height: 14px;
      text-align: center;
      letter-spacing: -0.594502px;
      color: $primary-text-color;
      font-weight: 700;
      background-color: $mint-bg-color;
      border: none;
      border-radius: 9999px;
      padding: 12px 24px;
      width: 122px;
      align-self: flex-end;
    }
  }
}

.partners-logo-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  margin-bottom: 120px;

  & span {
    color: $martini-color;
    font-size: 16.5797px;
    line-height: 21px;
    letter-spacing: -0.547957px;
    position: relative;
    margin-bottom: 70px;

    &::before {
      left: -27px;
      top: -67px;
      content: "";
      position: absolute;
      width: 391px;
      height: 2px;
      background-color: $nobel-color;
    }
  }

  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 85px;
    column-gap: 218px;

    & img {
      width: 204.85px;
      height: 44.46px;
    }
  }
}
