@import "globalStyles", "fonts", "colors";

// Navbar
nav {
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;

  .nav-links-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-links-burger {
      display: none;
    }

    .nav-links {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .nav-link {
        font-weight: bold;
        font-size: 13.8667px;
        line-height: 17px;
        color: $mid-gray-text-color;
        cursor: pointer;
        margin-right: 17px;
        position: relative;

        &:last-child {
          margin-right: 40px;
        }

        & a {
          text-decoration: none;
          color: $mid-gray-text-color;
          transition: all 0.2s ease-in-out;

          &::after {
            position: absolute;
            content: "";
            width: 100%;
            background-color: $persimmon-color;
            height: 2px;
            left: 0;
            bottom: -7px;
            transition: transform 0.5s;
            transform: scaleX(0);
            transform-origin: right;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }

          // span:hover::before {
          //   font-size: 13.8667px;
          //   line-height: 17px;

          //   content: "Coming soon";
          // }
        }

        &:hover {
          & a {
            color: $primary-text-color;
          }
        }
      }

      a {
        text-decoration: none;
        button {
          font-family: $secondary-font-family;
          cursor: pointer;
          background-color: $mint-bg-color;
          color: $primary-text-color;
          font-style: normal;
          font-weight: bold;
          font-size: 13.5227px;
          line-height: 16px;
          padding: 14px 27px;
          border: none;
          border-radius: 9999px;
          box-shadow: 0px 2.70455px 10.142px rgba(130, 219, 109, 0.2);
        }

        & .nav-button-animation {
          overflow: hidden;
          color: $primary-text-color;
          background-color: $persimmon-color;

          &:hover {
            color: #fff;
            background-color: #ff6a4d;
          }

          &::before {
            position: absolute;
            top: -4px;
            content: "";
            background: #c2f1b7;
            width: 113%;
            height: 110%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          }

          &:hover::before {
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }
  }
}

// Header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  position: relative;
  margin-top: 80px;

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: 100%;

    & h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 74px;
      letter-spacing: -3.00734px;
      color: $primary-text-color;
      margin-bottom: 27px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 32px;
        background-color: $persimmon-color;
        bottom: -15px;
      }

      #span-world {
        color: $persimmon-color;
      }
    }

    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      color: $secondary-text-color;
    }

    .header-email {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 65px;
      position: relative;
      opacity: 100%;
      transition: all 0.5s ease-in-out;

      & input {
        padding: 18px 16px;
        background-color: $white-bg-color;
        border: none;
        border-radius: 9999px;
        width: 55%;

        &::placeholder {
          font-family: $secondary-font-family;
          color: $oslo-gray-color;
          font-size: 18px;
        }
      }

      & button {
        font-family: $secondary-font-family;
        background-color: $persimmon-color;
        color: $white-bg-color;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        border: none;
        border-radius: 9999px;
        cursor: pointer;
        padding: 21px 40px;
        box-shadow: 0px 4px 15px rgba(255, 106, 77, 0.2);
        transition: all 0.2s ease-in-out;
        transform: translate(0);

        &:hover {
          box-shadow: 0px 2.70455px 10.142px rgba(130, 219, 109, 0.2);
        }
      }

      & .header-button-animation {
        overflow: hidden;
        color: #fff;
        background-color: $mint-bg-color;

        &:hover {
          color: $primary-text-color;
          background-color: $mint-bg-color;
        }

        &::before {
          position: absolute;
          top: 0;
          content: "";
          background: $persimmon-color;
          width: 122%;
          height: 102%;
          left: -10%;
          transform: skew(30deg);
          transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
        }

        &:hover::before {
          transform: translate3d(100%, 0, 0);
        }
      }
    }

    #span-bottom-text {
      margin-top: auto;
      font-size: 14px;
      color: $martini-color;
    }
  }
  & img {
  }
  .header-image {
    width: 55%;
  }
}

// Logos section
.partners-logos-section {
  margin-top: 116px;
  width: 100%;
  display: flex;
  justify-content: center;

  .partners-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    padding: 20px 0;
    grid-auto-flow: column;
  }
}

// Why Knowbie section
.why-knowbie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 215px;

  .why-knowbie-intro-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      width: 30%;
      background: linear-gradient(
        270deg,
        rgba(234, 234, 246, 0) 2.16%,
        #eaeaf6 36.3%,
        #eaeaf6 61.91%,
        rgba(234, 234, 246, 0) 100%
      );
      color: $pigeon-post-color;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
    }

    #intro-text {
      color: $primary-text-color;
      font-weight: bold;
      font-size: 32.9143px;
      line-height: 41px;
      width: 50%;
    }

    & span {
      height: 2px;
      width: 31px;
      background-color: $pigeon-post-color;
    }

    #under-intro-text {
      font-weight: 100;
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      color: $secondary-text-color;
      width: 37%;
    }
  }

  .why-knowbie-cards {
    position: relative;
    width: 80%;
    display: grid;

    gap: 28px;
    margin-top: 70px;
    z-index: 5;

    .why-knowbie-card-container {
      background-color: $white-bg-color;
      border-radius: 21.5px;
      z-index: 10;
      .why-knowbie-card {
        padding: 30px 50px 30px 40px;

        & h3 {
          font-weight: bold;
          font-size: 18.7185px;
          line-height: 23px;
          letter-spacing: -0.456906px;
          color: $primary-text-color;
        }

        & p {
          color: $secondary-text-color;
          font-weight: normal;
          font-size: 14.5112px;
          line-height: 18px;
        }
      }
    }

    & #why-knowbie-dec-img {
      position: absolute;
      bottom: -55px;
      right: -60px;
      z-index: 2;
    }
  }
}

// For restaurants section
.for-restaurants-section {
  display: flex;
  flex-direction: column;
  margin-top: 243px;

  .for-restaurants-intro {
    display: flex;
    flex-direction: row;
    width: 95%;

    .for-restaurants-intro-img {
      width: 60%;
      height: 40%;

      img {
        width: 879px;
        // height: 759px;
      }
    }

    .for-restaurants-intro-text {
      & h2 {
        background: linear-gradient(
          270deg,
          rgba(252, 238, 204, 0) 2.16%,
          #fceecc 36.3%,
          #fceecc 61.91%,
          rgba(252, 238, 204, 0) 100%
        );
        color: $web-orange-color;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 2.57143px;
        margin-bottom: 27px;
        text-align: center;
      }

      & h3 {
        color: $primary-text-color;
        font-weight: bold;
        font-size: 35px;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 26px;
        position: relative;
        display: inline-block;

        & span {
          color: $web-orange-color;
          font-size: 32px;
          font-weight: 700;
        }

        &::before {
          display: block;
          content: "";
          width: 31px;
          height: 2px;
          background: $web-orange-color;
          position: absolute;
          bottom: -15px;
          left: 0;
        }
      }

      & #for-rest-span {
        color: $secondary-text-color;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
      }

      & ul {
        margin-top: 30px;
        margin-left: 0;
        list-style: none;
        padding-left: 20px;
        width: 80%;

        & li {
          color: $secondary-text-color;
          font-weight: 200;
          font-size: 20px;
          line-height: 150%;
          margin-bottom: 10px;

          & b {
            color: $primary-text-color;
            font-weight: 400;
          }
        }

        & li::before {
          content: "\2022";
          color: $web-orange-color;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 9999px;
          margin-left: -1em;
        }
      }

      .for-restaurants-intro-email {
        width: 100%;
        margin-top: 65px;
        opacity: 100%;
        transition: all 0.5s ease-in-out;

        & input {
          background-color: $white-bg-color;
          padding: 15px 25px;
          font-size: 18px;
          border: none;
          border-radius: 9999px;
          width: 50%;

          &::placeholder {
            font-family: $secondary-font-family;
            color: $oslo-gray-color;
          }
        }

        & button {
          background-color: $web-orange-color;
          padding: 20px 36px;
          color: $white-bg-color;
          font-family: $secondary-font-family;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          border: none;
          cursor: pointer;
          border-radius: 9999px;
          box-shadow: 0px 4px 15px rgba(239, 172, 0, 0.2);
          transform: translateX(0);
          transition: all 0.2s ease-in-out;

          &:hover {
            box-shadow: 0px 2.70455px 10.142px rgba(130, 219, 109, 0.4);
          }
        }

        & .for-rest-button-animation {
          overflow: hidden;
          color: #fff;
          background-color: $mint-bg-color;

          .btn-span {
            color: #fff;
          }

          &:hover {
            color: $primary-text-color;
            background-color: $mint-bg-color;
          }

          &::before {
            position: absolute;
            top: 0;
            content: "";
            background: $web-orange-color;
            width: 122%;
            height: 102%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          }

          &:hover::before {
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }
  }

  .for-restaurants-tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 240px;

    .for-restaurants-tools-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & h2 {
        width: 35%;
        color: $primary-text-color;
        font-weight: bold;
        font-size: 40px;
        line-height: 150%;
        z-index: 10;
        margin-top: 0;

        & span {
          color: $web-orange-color;
        }
      }

      #for-restaurants-h2-desktop {
        display: block;
      }

      #for-restaurants-h2-mobile {
        display: none;
      }

      #dec-for-restaurants {
        position: absolute;
        top: 130%;
        left: 5%;
      }

      #second-dark-safari-1-mob {
        display: none;
      }

      #second-dark-safari-1 {
        height: 679px;
      }
    }

    .for-restaurants-tools-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      #dec-for-restaurants-tools {
        position: absolute;
        right: 30px;
        top: 35%;
        z-index: 2;
      }

      #second-dark-safari-2 {
        position: absolute;
        right: 0;
        top: 55%;

        height: 679px;
      }

      #second-dark-safari-mob {
        display: none;
      }
    }
  }
}

// For servers section
.for-servers-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  margin-top: 600px;

  .for-servers-img img {
    width: 700px;
  }

  .for-servers-text {
    width: 50%;

    & h2 {
      margin-bottom: 40px;
      color: $pastel-green-color;
      background: linear-gradient(
        270deg,
        rgba(230, 252, 225, 0) 2.16%,
        #e6fce1 36.3%,
        #e6fce1 61.91%,
        rgba(230, 252, 225, 0) 100%
      );
      // background-position: calc(50% - 100px) 50%;
      text-align: center;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 2.57143px;
    }

    & h3 {
      font-weight: bold;
      font-size: 35px;
      line-height: 50px;
      color: $primary-text-color;
      margin-top: 0;
      margin-bottom: 30px;

      & span {
        color: $pastel-green-color;
        font-size: 32px;
      }
    }

    #for-servers-span {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: $secondary-text-color;
      position: relative;

      &::before {
        display: block;
        content: "";
        width: 31px;
        height: 2px;
        background: $pastel-green-color;
        position: absolute;
        bottom: 40px;
        left: 0;
      }
    }

    & ul {
      margin-top: 55px;
      margin-left: 0;
      list-style: none;
      padding-left: 20px;
      width: 80%;

      & li {
        color: $secondary-text-color;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 10px;
        font-weight: 200;

        & b {
          color: $primary-text-color;
          font-weight: 400;
        }
      }

      & li::before {
        content: "\2022";
        color: $pastel-green-color;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 9999px;
        margin-left: -1em;
      }
    }
  }
}

// Join waitlist
.join-waitlist-section {
  margin-top: 152px;
  width: 85%;
  background-color: rgba(194, 241, 183, 0.4);
  position: relative;
  text-align: center;
  padding: 94px 0;
  border-radius: 30px;

  .join-waitlist-div {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 55%;

    & h3 {
      font-weight: bold;
      font-size: 48px;
      line-height: 39px;
      letter-spacing: -1.86393px;
      color: $primary-text-color;
      margin-bottom: 45px;

      & span {
        color: $pastel-green-color;
      }
    }

    & p {
      margin: 0;
      font-weight: normal;
      font-size: 24px;
      line-height: 150%;
      color: $secondary-text-color;
    }

    & button {
      margin-top: 63px;
      background-color: $mint-bg-color;
      color: $primary-text-color;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      font-family: $secondary-font-family;
      border: none;
      border-radius: 9999px;
      padding: 20px 37px;
      cursor: pointer;
    }

    & .join-button-animation {
      overflow: hidden;
      color: $primary-text-color;
      background-color: $persimmon-color;

      &:hover {
        color: #fff;
        background-color: #ff6a4d;
      }

      &::before {
        position: absolute;
        top: -4px;
        content: "";
        background: #c2f1b7;
        width: 113%;
        height: 110%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      }

      &:hover::before {
        transform: translate3d(100%, 0, 0);
      }
    }

    & img {
      position: absolute;
      left: 0;
      bottom: -50%;
    }
  }
}

.show-phone-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 367px;

  #left-phone {
    height: 692px;
  }

  #right-phone {
    height: 692px;
  }

  .three-phones {
    position: relative;
    height: 100%;
    width: 342px;

    #phone1 {
      position: absolute;
      top: -52px;
      z-index: 5;
      right: 33px;
      height: 725.52px;
    }

    #phone2 {
      height: 773.49px;
      z-index: 1000;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: -30px;
      right: 0;
      text-align: center;
      top: -100px;
    }

    #phone3 {
      position: absolute;
      z-index: 5;
      left: 23px;
      top: -59px;
      height: 725.52px;
    }

    #show-phone-dec {
      position: absolute;
      z-index: 10001;
      left: 335px;
      bottom: -626px;
    }
  }
}

// .why-knowbie-clients-reviews {
//   width: 100%;
//   margin-top: 252px;

//   .why-knowbie-clients-text {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;

//     & h2 {
//       color: $persimmon-color;
//       font-size: 45px;
//       line-height: 56px;
//       letter-spacing: 2.5px;
//       font-weight: 700;
//       background: linear-gradient(
//         270deg,
//         rgba(255, 228, 223, 0) 2.16%,
//         #ffe4df 36.3%,
//         #ffe4df 61.91%,
//         rgba(255, 228, 223, 0) 100%
//       );
//       margin-bottom: 31px;
//     }

//     & h3 {
//       margin-top: 0;
//       margin-bottom: 22px;
//       color: $primary-text-color;
//       font-size: 32px;
//       line-height: 40px;
//       letter-spacing: 0.02em;
//       position: relative;

//       &::after {
//         display: block;
//         content: "";
//         position: absolute;
//         width: 31px;
//         height: 2px;
//         background-color: $persimmon-color;
//         margin-left: auto;
//         margin-right: auto;
//         left: 0;
//         right: 0;
//         bottom: -8px;
//         text-align: center;
//       }
//     }

//     & p {
//       color: $secondary-text-color;
//       font-size: 18px;
//       line-height: 24px;
//       font-weight: 100;
//     }
//   }

//   .reviews-container {
//     margin-top: 132px;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     position: relative;
//     overflow: inherit;

//     .review-container {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       background-color: $white-bg-color;
//       margin: 0 30px;
//       width: 50%;
//       padding: 126px 90px 60px 140px;
//       // height: 378px;
//       border-radius: 27px;
//       text-align: center;

//       & p {
//         font-size: 20.3261px;
//         line-height: 38px;
//         color: $secondary-text-color;
//       }

//       & #full-name {
//         font-weight: bold;
//         font-size: 24.7234px;
//         line-height: 31px;
//         color: $primary-text-color;
//         margin-top: 50px;
//       }

//       & #position {
//         font-weight: normal;
//         font-size: 17px;
//         line-height: 21px;
//         color: $primary-text-color;
//       }
//     }

//     .review-container-active {
//       padding: 0 90px;
//       box-shadow: 0px 4px 4px -6px rgba(0, 0, 0, 0.12);
//       position: relative;
//       padding: 127px 90px 30px 90px;
//       z-index: 10;
//       position: relative;
//       background-color: $white-bg-color;

//       #prev {
//         position: absolute;
//         margin: auto;
//         top: 0;
//         left: -50px;
//         bottom: 0;
//       }

//       #next {
//         position: absolute;
//         margin: auto;
//         top: 0;
//         bottom: 0;
//         right: -50px;
//       }

//       #user-photo {
//         position: absolute;
//         margin: auto;
//         top: -50px;
//         right: 0;
//         left: 0;
//         background-color: $carnation-color;
//         width: 96.4px;
//         height: 96.4px;
//         border-radius: 9999px;

//         #user-photo-in {
//           width: 100%;
//           height: 100%;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           position: relative;
//           z-index: 100;

//           #user-photo-dec-1 {
//             position: absolute;
//             left: -55px;
//             top: -10px;
//           }

//           #user-photo-dec-2 {
//             position: absolute;
//             right: -55px;
//             z-index: -2;
//             top: -13px;
//           }

//           & img {
//             width: 64.74px;
//             height: 82.08px;
//           }
//         }
//       }
//     }

//     .prev-review {
//       position: absolute;
//       left: -55%;
//       bottom: -40px;
//     }

//     .next-review {
//       position: absolute;
//       right: -55%;
//       bottom: -40px;
//     }
//   }
// }

// Contact us
.contact-us-section {
  margin-top: 150px;
  background-color: $white-lilac-bg-color;
  width: 100%;
  padding-top: 66px;
  padding-bottom: 117px;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: -1000px;
    width: 200vw;
    background: $white-lilac-bg-color;
    z-index: -1;
  }

  .contact-us-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-us-text {
      text-align: center;
      width: 40%;

      & h2 {
        font-weight: bold;
        font-size: 35px;
        line-height: 50px;
        color: $primary-text-color;
        margin-bottom: 56px;
        position: relative;

        &::before {
          display: block;
          content: "";
          width: 31px;
          height: 2px;
          background: $pigeon-post-color;
          position: absolute;
          bottom: -30px;
          left: 0;
          right: 0;
          margin: auto;
        }

        & span {
          color: $pigeon-post-color;
        }
      }

      & p {
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: $secondary-text-color;
        margin-top: 0;
        margin-bottom: 75px;

        & a {
          text-decoration: none;
          color: $pigeon-post-color;
          cursor: pointer;
        }
      }
    }

    .contact-us-form-wrap {
      background-color: $white-bg-color;
      box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
      border-radius: 29.4045px;
      padding: 77px 56px 0 43px;
      //height: 711.67px;
      width: 665px;
      height: 732px;
      grid-row: 1/3;
      grid-column: 2/3;
      justify-self: end;

      .contact-us-form-container {
        display: flex;
        flex-direction: column;

        & h3 {
          font-weight: bold;
          font-size: 34.9714px;
          line-height: 37px;
          color: $primary-text-color;
          margin-top: 0;
          margin-bottom: 60px;
        }

        .contact-us-form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 34px;
          column-gap: 24px;
          margin-bottom: 60px;
          opacity: 100%;
          transition: all 0.5s ease-in-out;

          & input {
            background: rgba(234, 234, 246, 0.75);
            font-weight: normal;
            font-size: 17.4857px;
            line-height: 22px;
            border: none;
            padding: 15px 20px;
            color: $secondary-text-color;
            border-radius: 30.2446px;
            font-family: $main-font-family;

            &::placeholder {
              color: #8c8496, 70%;
            }
          }

          & select {
            background: rgba(234, 234, 246, 0.75);
            border-radius: 29.4045px;
            font-weight: normal;
            font-size: 17.4857px;
            line-height: 22px;
            border: none;
            padding: 15px 20px;
            color: $secondary-text-color;
            appearance: none;
            background-image: url("../assets/arrow-down.svg");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: 50%;
            color: rgba(140, 132, 150, 1);
            font-family: $main-font-family;
          }
        }

        & textarea {
          margin-bottom: 70px;
          height: 126.4px;
          background: rgba(234, 234, 246, 0.75);
          border-radius: 29.4045px;
          font-size: 17.4857px;
          line-height: 22px;
          border: none;
          padding: 15px 20px;
          color: $secondary-text-color;
          font-family: $main-font-family;

          &::placeholder {
            color: rgba(140, 132, 150, 0.7);
          }
        }

        & button {
          width: 202px;
          background-color: $pigeon-post-color;
          color: $white-bg-color;
          font-size: 20px;
          line-height: 35px;
          letter-spacing: 0.003em;
          border: none;
          border-radius: 9999px;
          padding: 16px 0;
          cursor: pointer;
        }

        & .contact-button-animation {
          overflow: hidden;
          color: #fff;
          background-color: $mint-bg-color;

          .btn-span {
            color: #fff;
          }

          &:hover {
            color: $primary-text-color;
            background-color: $mint-bg-color;
          }

          &::before {
            position: absolute;
            top: 0;
            content: "";
            background: $pigeon-post-color;
            width: 122%;
            height: 102%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          }

          &:hover::before {
            transform: translate3d(100%, 0, 0);
          }
        }
      }

      & .hide-contact-us-form {
        transition: all 0.5s ease-in-out;
        opacity: 0%;
        & h3 {
          transform: translateY(100px);
          transition: all 0.5s ease-in-out;
        }

        .contact-us-form {
          transition: all 0.5s ease-in-out;

          & input {
            transform: translateY(100px);
            transition: all 0.5s ease-in-out;
          }

          & select {
            transform: translateY(100px);
            transition: all 0.5s ease-in-out;
          }

          & textarea {
            transform: translateY(100px);
            transition: all 0.5s ease-in-out;
          }

          & button {
            transform: translateY(500px);
            transition: all 0.5s ease-in-out;
          }
        }
      }

      & .init-contact-us-form-submit {
        position: absolute;
        display: flex;
        flex-direction: column;
        transition: all ease-in-out 0.5s;

        & h4 {
          text-align: center;
          font-weight: bold;
          font-size: 19.5309px;
          line-height: 21px;
          color: $primary-text-color;
          padding: 42px 0;
          margin: 0;
          transform: translateY(100px);
          opacity: 0;
          transition: all ease-in-out 0.5s;
          background-color: $main-bg-color;
        }

        & div {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: auto 0;
          transition: all ease-in-out 0.5s;

          & img {
            transform: scale(0.5) rotate(90deg);
            opacity: 0;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted {
            color: $primary-text-color;
            font-size: 39.3387px;
            font-weight: bold;
            font-size: 41.0888px;
            line-height: 68px;
            letter-spacing: 0.003em;
            margin-top: 13px;
            transform: translateY(100px);
            opacity: 0;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted-text {
            width: 55%;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: rgba(140, 132, 150, 0.79);
            font-weight: 300;
            transform: translateY(100px);
            opacity: 0;
            transition: all ease-in-out 0.5s;
          }
        }
      }

      & .show-contact-us-form-submit {
        position: relative;
        height: 100%;
        & h4 {
          transform: translateY(0px);
          opacity: 100%;
          transition: all ease-in-out 0.5s;
        }

        & div {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: auto 0;
          transition: all ease-in-out 0.5s;

          & img {
            transform: scale(1) rotate(0deg);
            opacity: 100%;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted {
            transform: translateY(0px);
            opacity: 100%;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted-text {
            transform: translateY(0px);
            opacity: 100%;
            transition: all ease-in-out 0.5s;
          }
        }
      }

      & .display-none {
        opacity: 0;
        transition: all 0.5s ease-in-out;
        display: none;
      }
    }
  }
}

// Footer

footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-get-started-main {
    width: 100%;
    background-color: $primary-text-color;

    .footer-get-started-container {
      position: relative;
      display: flex;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        left: -1000px;
        width: 200vw;
        background: $primary-text-color;
        z-index: -1;
      }

      .footer-get-started {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 83%;

        #footer-get-started-desktop {
          display: block;
        }

        #footer-get-started-mobile {
          display: none;
        }

        & h4 {
          font-weight: bold;
          font-size: 34.9714px;
          line-height: 44px;
          color: $white-bg-color;
        }

        & button {
          background-color: $white-bg-color;
          font-weight: bold;
          font-size: 20px;
          line-height: 35px;
          text-align: center;
          color: $primary-text-color;
          border: none;
          border-radius: 9999px;
          padding: 12px 42px;
          cursor: pointer;
        }

        & .footer-button-animation {
          overflow: hidden;
          color: $primary-text-color;
          background-color: $mint-bg-color;

          &:hover {
            color: $primary-text-color;
            background-color: $mint-bg-color;
          }

          &::before {
            position: absolute;
            top: 0;
            content: "";
            background: #fff;
            width: 122%;
            height: 102%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          }

          &:hover::before {
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }
  }

  .main-footer-container {
    width: 100%;
    background-color: $white-bg-color;
    padding: 70px 0;

    .main-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: 0 auto;

      .footer-knowbie-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & span {
          color: $primary-text-color;
          margin-top: 60px;
          font-size: 12px;
          font-weight: 300;
        }
      }

      .footer-contact-follow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;

        .contact-all-info {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 70%;
          .footer-contact-us {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & h5 {
              font-weight: bold;
              font-size: 18.1285px;
              line-height: 25px;
            }

            & a {
              text-decoration: none;
              font-weight: normal;
              font-size: 14.7972px;
              line-height: 25px;
              letter-spacing: 0.003em;
              color: $primary-text-color;
              margin-bottom: 0;
            }
          }
        }

        .footer-follow-us {
          display: flex;
          flex-direction: column;
          width: 15%;

          .footer-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            align-items: baseline;
            margin-top: 25px;
          }

          & h5 {
            font-weight: bold;
            font-size: 18.1285px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

@import "responsiveStyle";
