@import "globalStyles", "fonts", "colors", "requestAccess";

// Navbar
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;

  .nav-links-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-links-burger {
      display: none;
    }

    .nav-links {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .nav-link {
        font-weight: 700;
        color: $mid-gray-text-color;
        font-size: 14px;
        cursor: pointer;
        margin-right: 17px;

        &:last-child {
          margin-right: 40px;
        }

        & a {
          text-decoration: none;
          color: $mid-gray-text-color;
        }
      }

      .nav-link-active {
        position: relative;

        & a {
          color: $primary-text-color;
        }

        &::before {
          position: absolute;
          content: "";
          width: 100%;
          background-color: $persimmon-color;
          height: 2px;
          left: 0;
          bottom: -7px;
        }
      }
    }

    button {
      cursor: pointer;
      background-color: $mint-bg-color;
      color: $primary-text-color;
      font-size: 13px;
      font-weight: 700;
      padding: 14px 14px;
      border: none;
      border-radius: 9999px;
      box-shadow: 0px 1.41814px 4.96349px -1.06361px rgba(194, 241, 183, 0.4),
        0px 3px 4px -0.70907px rgba(194, 241, 183, 0.1);
    }
  }
}

// Header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  height: 85vh;
  position: relative;
  margin-top: 80px;

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    & h1 {
      font-weight: 700;
      font-size: 60px;
      color: $primary-text-color;
      margin-bottom: 27px;

      #span-world {
        color: $persimmon-color;
      }
    }

    & p {
      font-size: 700;
      font-size: 18px;
      color: $secondary-text-color;
    }

    .header-email {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 65px;
      position: relative;
      opacity: 100%;
      transition: all 0.5s ease-in-out;

      & input {
        padding: 18px 16px;
        background-color: $white-bg-color;
        border: none;
        border-radius: 9999px;
        width: 55%;
        transition: all 0.5s ease-in-out;
        transform: translate(0);

        &::placeholder {
          font-family: $secondary-font-family;
          color: $oslo-gray-color;
          font-size: 18px;
        }
      }

      & button {
        background-color: $persimmon-color;
        color: $white-bg-color;
        padding: 18px 30px;
        font-size: 18px;
        border: none;
        border-radius: 9999px;
        margin-left: 6px;
        cursor: pointer;
        box-shadow: 0px 1.64152px 5.74533px -1.23114px rgba(239, 172, 0, 0.4),
          0px 3px 4px -0.820762px rgba(239, 172, 0, 0.1);
        transition: all 0.5s ease-in-out;
        transform: translate(0);
      }
    }

    .hidden-email {
      opacity: 0;
      & input {
        transform: translate(100px);
        bottom: 0;
        opacity: 0;
      }

      & button {
        opacity: 0;
        transform: translate(-100px);
      }
    }

    .email-sent {
      margin-top: 65px;
      opacity: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-in-out;

      #check-mark {
        transform: translate(185px);
        transition: all 0.5s ease-in-out;
      }

      #happy-face {
        transform: translate(-185px);
        transition: all 0.5s ease-in-out;
      }

      p {
        font-weight: 500;
        font-size: 14.9534px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: $primary-text-color;
        margin-left: 13px;
      }
    }

    .email-sent-show {
      opacity: 100%;
      transition: all 0.5s ease-in-out;

      #check-mark {
        transform: translate(0);
        transition: all 0.5s ease-in-out;
      }

      #happy-face {
        transform: translate(0);
        transition: all 0.5s ease-in-out;
      }
    }

    .display-none {
      display: none;
    }

    #span-bottom-text {
      margin-top: auto;
      font-size: 14px;
      color: $martini-color;
    }
  }

  .header-image {
    width: 55%;
    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-left: -60px;
    }
  }
}

// Logos section
.partners-logos-section {
  margin-top: 25px;
  background-color: $white-lilac-bg-color;
  width: 100%;
  display: flex;
  justify-content: center;
  .partners-logos {
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
}

// Why Knowbie section
.why-knowbie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 239px;

  .why-knowbie-intro-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      width: 30%;
      background: linear-gradient(
        270deg,
        rgba(234, 234, 246, 0) 2.16%,
        #eaeaf6 36.3%,
        #eaeaf6 61.91%,
        rgba(234, 234, 246, 0) 100%
      );
      color: $pigeon-post-color;
      font-weight: 700;
      font-size: 45px;
    }

    #intro-text {
      color: $primary-text-color;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 2%;
      font-weight: 700;
      width: 50%;
    }

    & span {
      height: 2px;
      width: 31px;
      background-color: $pigeon-post-color;
    }

    #under-intro-text {
      font-weight: 100;
      font-size: 18px;
      line-height: 24px;
      color: $secondary-text-color;
      width: 40%;
    }
  }

  .why-knowbie-cards {
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-top: 70px;
    z-index: 5;

    .why-knowbie-card-container {
      background-color: $white-bg-color;
      border-radius: 21.5px;
      z-index: 10;
      .why-knowbie-card {
        padding: 30px 50px 30px 40px;

        & h3 {
          font-size: 18px;
          font-weight: 700;
          color: $primary-text-color;
          line-height: 23px;
        }

        & p {
          color: $secondary-text-color;
          font-size: 14px;
        }
      }
    }

    & #why-knowbie-dec-img {
      position: absolute;
      bottom: -55px;
      right: -60px;
      z-index: 2;
    }
  }
}

// For restaurants section
.for-restaurants-section {
  display: flex;
  flex-direction: column;
  margin-top: 346px;

  .for-restaurants-intro {
    display: flex;
    flex-direction: row;
    width: 95%;

    .for-restaurants-intro-img {
      width: 60%;
      height: 40%;
    }

    .for-restaurants-intro-text {
      & h2 {
        background: linear-gradient(
          270deg,
          rgba(252, 238, 204, 0) 2.16%,
          #fceecc 36.3%,
          #fceecc 61.91%,
          rgba(252, 238, 204, 0) 100%
        );
        color: $web-orange-color;
        font-size: 45px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 2.5px;
        margin-bottom: 27px;
      }

      & h3 {
        color: $primary-text-color;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 26px;
        position: relative;
        display: inline-block;

        & span {
          color: $web-orange-color;
          font-size: 32px;
          font-weight: 700;
        }

        &::before {
          display: block;
          content: "";
          width: 31px;
          height: 2px;
          background: $web-orange-color;
          position: absolute;
          bottom: -15px;
          left: 0;
        }
      }

      & span {
        color: $secondary-text-color;
        font-size: 18px;
        line-height: 24px;
      }

      & ul {
        margin-top: 73px;
        margin-left: 0;
        list-style: none;
        padding-left: 20px;
        width: 80%;

        & li {
          color: $primary-text-color;
          font-size: 18px;
          font-weight: 100;
          line-height: 24px;
          margin-bottom: 10px;

          & b {
            font-weight: 700;
          }
        }

        & li::before {
          content: "\2022";
          color: $web-orange-color;
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 9999px;
          margin-left: -1em;
        }
      }

      .for-restaurants-intro-email {
        width: 100%;
        margin-top: 65px;
        opacity: 100%;
        transition: all 0.5s ease-in-out;

        & input {
          background-color: $white-bg-color;
          padding: 15px 25px;
          font-size: 18px;
          border: none;
          border-radius: 9999px;
          width: 50%;
          transform: translateX(0);
          transition: all 0.5s ease-in-out;

          &::placeholder {
            font-family: $secondary-font-family;
            color: $oslo-gray-color;
          }
        }

        & button {
          background-color: $web-orange-color;
          padding: 14px 12px;
          color: $white-bg-color;
          font-family: $secondary-font-family;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          border: none;
          border-radius: 9999px;
          transform: translateX(0);
          transition: all 0.5s ease-in-out;
        }

        .email-sent {
          margin-top: 65px;
          opacity: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transition: all 0.5s ease-in-out;

          #check-mark {
            transform: translate(185px);
            transition: all 0.5s ease-in-out;
          }

          #happy-face {
            transform: translate(-185px);
            transition: all 0.5s ease-in-out;
          }

          p {
            font-weight: 500;
            font-size: 14.9534px;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: $primary-text-color;
            margin-left: 13px;
          }
        }

        .email-sent-show {
          opacity: 100%;
          transition: all 0.5s ease-in-out;

          #check-mark {
            transform: translate(0);
            transition: all 0.5s ease-in-out;
          }

          #happy-face {
            transform: translate(0);
            transition: all 0.5s ease-in-out;
          }
        }
      }

      & .hide-for-restaurants-intro-email {
        & div {
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }

        & input {
          transform: translateX(100px);
          transition: all 0.5s ease-in-out;
        }

        & button {
          transform: translateX(-100px);
          transition: all 0.5s ease-in-out;
        }
      }

      .display-none {
        display: none;
      }
    }
  }

  .for-restaurants-tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 240px;

    .for-restaurants-tools-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #dec-for-restaurants {
        margin-top: 300px;
        margin-left: 64px;
      }
    }

    .for-restaurants-tools-right {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      #dec-for-restaurants-tools {
        position: absolute;
        right: 30px;
        top: 25%;
        z-index: 2;
      }

      & h2 {
        width: 75%;
        color: $primary-text-color;
        font-size: 48px;
        line-height: 100px;
        margin-bottom: 122px;
        z-index: 10;

        & span {
          color: $web-orange-color;
        }
      }
    }
  }
}

// For servers section
.for-servers-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  margin-top: 240px;

  .for-servers-img img {
    width: 700px;
  }

  .for-servers-text {
    width: 38%;
    & h2 {
      margin-bottom: 40px;
      color: $pastel-green-color;
      background: linear-gradient(
        270deg,
        rgba(230, 252, 225, 0) 2.16%,
        #e6fce1 36.3%,
        #e6fce1 61.91%,
        rgba(230, 252, 225, 0) 100%
      );
      font-size: 45px;
      line-height: 56px;
      letter-spacing: 2.5px;
      font-weight: bold;
    }

    & h3 {
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: -1.90197px;
      color: $primary-text-color;
      margin-top: 0;
      margin-bottom: 8px;

      & span {
        color: $pastel-green-color;
        font-size: 32px;
      }
    }

    #for-servers-span {
      font-size: 18px;
      line-height: 24px;
      color: $secondary-text-color;
      position: relative;
      font-weight: 100;

      &::before {
        display: block;
        content: "";
        width: 31px;
        height: 2px;
        background: $pastel-green-color;
        position: absolute;
        bottom: 25px;
        left: 0;
      }
    }

    & ul {
      margin-top: 85px;
      margin-left: 0;
      list-style: none;
      padding-left: 20px;
      width: 80%;

      & li {
        color: $primary-text-color;
        font-size: 18px;
        font-weight: 100;
        line-height: 24px;
        margin-bottom: 10px;

        & b {
          font-weight: 700;
        }
      }

      & li::before {
        content: "\2022";
        color: $pastel-green-color;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 9999px;
        margin-left: -1em;
      }
    }
  }
}

// Join waitlist
.join-waitlist-section {
  width: 100%;
  background-color: rgba(194, 241, 183, 0.4);
  position: relative;
  text-align: center;
  padding: 94px 0;

  .join-waitlist-div {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 48%;

    & h3 {
      font-weight: bold;
      font-size: 48px;
      line-height: 40px;
      color: $primary-text-color;
      margin-bottom: 56px;

      & span {
        color: $pastel-green-color;
      }
    }

    & p {
      font-size: 24px;
      line-height: 40px;
      color: $secondary-text-color;
    }

    & input {
      background-color: $white-bg-color;
      border: none;
      border-radius: 9999px;
      font-size: 20px;
      line-height: 25px;
      padding: 15px 30px;
      width: 50%;
    }

    & button {
      background-color: $mint-bg-color;
      color: $primary-text-color;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      border: none;
      border-radius: 9999px;
      padding: 15px 35px;
    }

    & img {
      position: absolute;
      left: 0;
      bottom: -50%;
    }
  }
}

.show-phone-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 367px;

  .three-phones {
    position: relative;
    height: 100%;
    width: 342px;

    #phone1 {
      position: absolute;
      top: -88px;
      z-index: 5;
      right: 15px;
    }

    #phone2 {
      z-index: 1000;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: -30px;
      right: 0;
      text-align: center;
      top: -100px;
    }

    #phone3 {
      position: absolute;
      z-index: 5;
      left: 20px;
      top: -88px;
    }

    #show-phone-dec {
      position: absolute;
      z-index: 10001;
      left: 375px;
      bottom: -640px;
    }
  }
}

.why-knowbie-clients-reviews {
  width: 100%;
  margin-top: 252px;

  .why-knowbie-clients-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & h2 {
      color: $persimmon-color;
      font-size: 45px;
      line-height: 56px;
      letter-spacing: 2.5px;
      font-weight: 700;
      background: linear-gradient(
        270deg,
        rgba(255, 228, 223, 0) 2.16%,
        #ffe4df 36.3%,
        #ffe4df 61.91%,
        rgba(255, 228, 223, 0) 100%
      );
      margin-bottom: 31px;
    }

    & h3 {
      margin-top: 0;
      margin-bottom: 22px;
      color: $primary-text-color;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.02em;
      position: relative;

      &::after {
        display: block;
        content: "";
        position: absolute;
        width: 31px;
        height: 2px;
        background-color: $persimmon-color;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -8px;
        text-align: center;
      }
    }

    & p {
      color: $secondary-text-color;
      font-size: 18px;
      line-height: 24px;
      font-weight: 100;
    }
  }

  .reviews-container {
    margin-top: 132px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: inherit;

    .review-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $white-bg-color;
      margin: 0 30px;
      width: 50%;
      padding: 126px 90px 60px 140px;
      // height: 378px;
      border-radius: 27px;
      text-align: center;

      & p {
        font-size: 20.3261px;
        line-height: 38px;
        color: $secondary-text-color;
      }

      & #full-name {
        font-weight: bold;
        font-size: 24.7234px;
        line-height: 31px;
        color: $primary-text-color;
        margin-top: 50px;
      }

      & #position {
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        color: $primary-text-color;
      }
    }

    .review-container-active {
      padding: 0 90px;
      box-shadow: 0px 4px 4px -6px rgba(0, 0, 0, 0.12);
      position: relative;
      padding: 127px 90px 30px 90px;
      z-index: 10;
      position: relative;

      #prev {
        position: absolute;
        margin: auto;
        top: 0;
        left: -50px;
        bottom: 0;
      }

      #next {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: -50px;
      }

      #user-photo {
        position: absolute;
        margin: auto;
        top: -50px;
        right: 0;
        left: 0;
        background-color: $carnation-color;
        width: 96.4px;
        height: 96.4px;
        border-radius: 9999px;

        #user-photo-in {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 100;

          #user-photo-dec-1 {
            position: absolute;
            left: -55px;
            top: -10px;
          }

          #user-photo-dec-2 {
            position: absolute;
            right: -55px;
            z-index: -2;
            top: -13px;
          }

          & img {
            width: 64.74px;
            height: 82.08px;
          }
        }
      }
    }

    .prev-review {
      position: absolute;
      left: -55%;
      bottom: -40px;
    }

    .next-review {
      position: absolute;
      right: -55%;
      bottom: -40px;
    }
  }
}

// Contact us
.contact-us-section {
  margin-top: 266px;
  background-color: $white-lilac-bg-color;
  width: 100%;
  padding: 140px 147px;
  display: flex;
  justify-content: center;

  .contact-us-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .contact-us-text-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .contact-us-text {
        & h2 {
          font-weight: 700;
          font-size: 35px;
          line-height: 46px;
          color: $primary-text-color;
          margin-bottom: 24px;
          position: relative;

          &::before {
            display: block;
            content: "";
            width: 31px;
            height: 2px;
            background: $pigeon-post-color;
            position: absolute;
            bottom: -5px;
            left: 0;
          }

          & span {
            color: $pigeon-post-color;
          }
        }

        & p {
          font-size: 20px;
          line-height: 32px;
          color: $secondary-text-color;
          width: 330px;

          & span {
            color: $pigeon-post-color;
          }
        }
      }

      .contact-us-info {
        background-color: $white-bg-color;
        padding: 80px 42px 50px 35px;
        box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
        border-radius: 29.4045px;

        & h3 {
          font-size: 34px;
          line-height: 40px;
          letter-spacing: -1.53339px;
          font-family: $secondary-font-family;
          color: $primary-text-color;
          margin-top: 0;
        }

        .contact-info-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }

          & p {
            margin-left: 20px;
            font-size: 17.0964px;
            line-height: 21px;
            color: $spun-pearl-color;
            margin-bottom: 0;
            margin-top: 0;
          }

          #contact-us-time-img {
            align-self: flex-start;
          }

          #contact-us-time {
            & p {
              text-align: center;
              margin-top: 0;

              &:last-child {
                margin-top: 14px;
              }

              & span {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }

    .contact-us-form-wrap {
      background-color: $white-bg-color;
      box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
      border-radius: 29.4045px;
      padding: 77px 56px 77px 43px;
      //height: 711.67px;
      width: 560px;
      margin-left: 27px;

      .contact-us-form-container {
        display: flex;
        flex-direction: column;

        & h3 {
          font-weight: 700;
          font-size: 34px;
          line-height: 36px;
          color: $primary-text-color;
          margin-top: 0;
          margin-bottom: 60px;
        }

        .contact-us-form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 34px;
          column-gap: 24px;
          margin-bottom: 60px;
          opacity: 100%;
          transition: all 0.5s ease-in-out;

          & input {
            background: rgba(234, 234, 246, 0.75);
            border-radius: 29.4045px;
            font-size: 17px;
            line-height: 21px;
            border: none;
            padding: 15px 20px;
            color: $secondary-text-color;

            &::placeholder {
              color: #8c8496, 70%;
            }
          }

          & select {
            background: rgba(234, 234, 246, 0.75);
            border-radius: 29.4045px;
            font-size: 17px;
            line-height: 21px;
            border: none;
            padding: 15px 20px;
            color: $secondary-text-color;
            appearance: none;
            background-image: url("../assets/arrow-down.svg");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: 50%;
          }
        }

        & textarea {
          margin-bottom: 70px;
          height: 126.4px;
          background: rgba(234, 234, 246, 0.75);
          border-radius: 29.4045px;
          font-size: 17px;
          line-height: 21px;
          border: none;
          padding: 15px 20px;
          color: $secondary-text-color;
        }

        & button {
          width: 196.5px;
          background-color: $pigeon-post-color;
          color: $white-bg-color;
          font-weight: 500;
          font-size: 23px;
          line-height: 34px;
          border: none;
          border-radius: 9999px;
          padding: 16px 0;
        }
      }

      & .hide-contact-us-form {
        transition: all 0.5s ease-in-out;
        opacity: 0%;
        & h3 {
          transform: translateY(100px);
          transition: all 0.5s ease-in-out;
        }

        .contact-us-form {
          transition: all 0.5s ease-in-out;

          & input {
            transform: translateY(100px);
            transition: all 0.5s ease-in-out;
          }

          & select {
            transform: translateY(100px);
            transition: all 0.5s ease-in-out;
          }

          & textarea {
            transform: translateY(100px);
            transition: all 0.5s ease-in-out;
          }

          & button {
            transform: translateY(500px);
            transition: all 0.5s ease-in-out;
          }
        }
      }

      & .init-contact-us-form-submit {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: all ease-in-out 0.5s;

        & h4 {
          text-align: center;
          background-color: $main-bg-color;
          font-size: 18.699px;
          line-height: 20px;
          font-weight: 700;
          color: $primary-text-color;
          padding: 42px 0;
          margin: 0;
          transform: translateY(100px);
          opacity: 0;
          transition: all ease-in-out 0.5s;
        }

        & div {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: auto 0;
          transition: all ease-in-out 0.5s;

          & img {
            transform: scale(0.5) rotate(90deg);
            opacity: 0;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted {
            color: $primary-text-color;
            font-size: 39.3387px;
            line-height: 65px;
            letter-spacing: 0.003em;
            font-weight: 700;
            margin-top: 13px;
            transform: translateY(100px);
            opacity: 0;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted-text {
            width: 55%;
            font-size: 13.3267px;
            line-height: 19px;
            color: rgba(140, 132, 150, 0.79);
            font-weight: 300;
            transform: translateY(100px);
            opacity: 0;
            transition: all ease-in-out 0.5s;
          }
        }
      }

      & .show-contact-us-form-submit {
        position: relative;
        & h4 {
          transform: translateY(0px);
          opacity: 100%;
          transition: all ease-in-out 0.5s;
        }

        & div {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: auto 0;
          transition: all ease-in-out 0.5s;

          & img {
            transform: scale(1) rotate(0deg);
            opacity: 100%;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted {
            transform: translateY(0px);
            opacity: 100%;
            transition: all ease-in-out 0.5s;
          }

          & #form-submitted-text {
            transform: translateY(0px);
            opacity: 100%;
            transition: all ease-in-out 0.5s;
          }
        }
      }

      & .display-none {
        opacity: 0;
        transition: all 0.5s ease-in-out;
        display: none;
      }
    }
  }
}

// Footer

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-get-started-main {
    width: 100%;
    background-color: $primary-text-color;

    .footer-get-started {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: 0 auto;

      & h4 {
        font-weight: 700;
        font-size: 34px;
        line-height: 43px;
        color: $white-bg-color;
      }

      & button {
        background-color: $white-bg-color;
        font-weight: 700;
        font-size: 20.1044px;
        line-height: 34px;
        text-align: center;
        color: $primary-text-color;
        border: none;
        border-radius: 9999px;
        padding: 12px 42px;
      }
    }
  }

  .main-footer-container {
    width: 100%;
    background-color: $white-bg-color;
    padding: 70px 0;

    .main-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin: 0 auto;

      .footer-knowbie-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & span {
          margin-top: 60px;
          font-size: 12px;
          font-weight: 300;
        }
      }

      .footer-contact-follow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;

        .footer-contact-us {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          & h5 {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
          }

          & p {
            font-size: 13.0598px;
            line-height: 22px;
            letter-spacing: 0.003em;
            color: $primary-text-color;
            margin-bottom: 0;
          }
        }

        .footer-follow-us {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;

          .footer-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          & h5 {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

@import "responsiveStyle";
