@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Mulish", sans-serif;
  background-color: #f5f5f5;
  padding-top: 43px;
  overflow-x: hidden;
}

.main-section {
  margin-top: 142px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .main-section-text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.main-section .main-section-text-img #fancy-arrow {
  position: absolute;
  top: -90px;
  right: 0;
}

.main-section .main-section-text-img h2 {
  margin-top: 0;
  font-size: 30.457px;
  line-height: 36px;
  font-weight: 700;
  color: #2e1a47;
  position: relative;
  margin-bottom: 25px;
}

.main-section .main-section-text-img h2::before {
  display: block;
  content: "";
  width: 31px;
  height: 2px;
  background: #ff6a4d;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.main-section .main-section-text-img p {
  font-size: 15.3732px;
  line-height: 22px;
  color: #8c8496;
  font-weight: 200;
  width: 500px;
  margin-top: 0;
}

.main-section .main-section-text-img img {
  margin-left: -70px;
}

.main-section .request-access-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 37px 40px 43px 37px;
}

.main-section .request-access-form .user-info-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 28px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  font-size: 11.1561px;
  line-height: 15px;
}

.main-section .request-access-form .user-info-form div {
  position: relative;
}

.main-section .request-access-form .user-info-form div input {
  position: relative;
  z-index: 9;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #2e1a47;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.main-section .request-access-form .user-info-form div input:focus ~ label {
  top: -14px;
  font-size: 11px;
  font-weight: 700;
}

.main-section .request-access-form .user-info-form div input:not(:placeholder-shown) ~ label {
  top: -14px;
  font-size: 11px;
  font-weight: 700;
}

.main-section .request-access-form .user-info-form div input:invalid {
  border-color: #ff6a4d;
}

.main-section .request-access-form .user-info-form div input:valid:not(:placeholder-shown) {
  border-color: #82db6d;
  color: #82db6d;
}

.main-section .request-access-form .user-info-form div label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.main-section .request-access-form .radios-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 36px;
}

.main-section .request-access-form .radios-inputs fieldset {
  border: none;
  font-weight: 700;
  font-size: 11.5726px;
  line-height: 15px;
  color: #2e1a47;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.main-section .request-access-form .radios-inputs fieldset legend {
  padding: 0;
}

.main-section .request-access-form .radios-inputs fieldset div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.main-section .request-access-form .radios-inputs fieldset div span {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #2e1a47;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.main-section .request-access-form .radios-inputs fieldset div input {
  margin: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.main-section .request-access-form .radios-inputs fieldset div input:checked ~ span {
  background: #2e1a47;
}

.main-section .request-access-form .radios-inputs fieldset div input:checked ~ span::after {
  content: "\2713";
  position: absolute;
  left: 3px;
  top: 0;
  bottom: 5px;
  right: 5px;
  font-size: 9px;
  color: white;
}

.main-section .request-access-form .last-input {
  margin-top: 5px;
  width: 100%;
}

.main-section .request-access-form .last-input label {
  margin-bottom: 16px;
}

.main-section .request-access-form .last-input input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #2e1a47;
  padding: 7px;
  font-size: 11.1561px;
  line-height: 15px;
  color: #2e1a47;
  font-weight: 700;
}

.main-section .request-access-form .last-input input::-webkit-input-placeholder {
  font-weight: 400;
  color: #8c8496;
  opacity: 80%;
}

.main-section .request-access-form .last-input input:-ms-input-placeholder {
  font-weight: 400;
  color: #8c8496;
  opacity: 80%;
}

.main-section .request-access-form .last-input input::-ms-input-placeholder {
  font-weight: 400;
  color: #8c8496;
  opacity: 80%;
}

.main-section .request-access-form .last-input input::placeholder {
  font-weight: 400;
  color: #8c8496;
  opacity: 80%;
}

.main-section .request-access-form button {
  margin-top: 40px;
  font-family: "Karla", sans-serif;
  font-size: 11.89px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.594502px;
  color: #2e1a47;
  font-weight: 700;
  background-color: #c2f1b7;
  border: none;
  border-radius: 9999px;
  padding: 12px 24px;
  width: 122px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.partners-logo-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 170px;
  margin-bottom: 120px;
}

.partners-logo-section span {
  color: #a9a1a1;
  font-size: 16.5797px;
  line-height: 21px;
  letter-spacing: -0.547957px;
  position: relative;
  margin-bottom: 70px;
}

.partners-logo-section span::before {
  left: -27px;
  top: -67px;
  content: "";
  position: absolute;
  width: 391px;
  height: 2px;
  background-color: #b6b6b6;
}

.partners-logo-section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 85px;
  -webkit-column-gap: 218px;
          column-gap: 218px;
}

.partners-logo-section div img {
  width: 204.85px;
  height: 44.46px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}

nav .nav-links-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links-button .nav-links-burger {
  display: none;
}

nav .nav-links-button .nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links-button .nav-links .nav-link {
  font-weight: 700;
  color: #696871;
  font-size: 14px;
  cursor: pointer;
  margin-right: 17px;
}

nav .nav-links-button .nav-links .nav-link:last-child {
  margin-right: 40px;
}

nav .nav-links-button .nav-links .nav-link a {
  text-decoration: none;
  color: #696871;
}

nav .nav-links-button .nav-links .nav-link-active {
  position: relative;
}

nav .nav-links-button .nav-links .nav-link-active a {
  color: #2e1a47;
}

nav .nav-links-button .nav-links .nav-link-active::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ff6a4d;
  height: 2px;
  left: 0;
  bottom: -7px;
}

nav .nav-links-button button {
  cursor: pointer;
  background-color: #c2f1b7;
  color: #2e1a47;
  font-size: 13px;
  font-weight: 700;
  padding: 14px 14px;
  border: none;
  border-radius: 9999px;
  -webkit-box-shadow: 0px 1.41814px 4.96349px -1.06361px rgba(194, 241, 183, 0.4), 0px 3px 4px -0.70907px rgba(194, 241, 183, 0.1);
          box-shadow: 0px 1.41814px 4.96349px -1.06361px rgba(194, 241, 183, 0.4), 0px 3px 4px -0.70907px rgba(194, 241, 183, 0.1);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  height: 85vh;
  position: relative;
  margin-top: 80px;
}

header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
}

header .header-text h1 {
  font-weight: 700;
  font-size: 60px;
  color: #2e1a47;
  margin-bottom: 27px;
}

header .header-text h1 #span-world {
  color: #ff6a4d;
}

header .header-text p {
  font-size: 700;
  font-size: 18px;
  color: #8c8496;
}

header .header-text .header-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
  position: relative;
  opacity: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-text .header-email input {
  padding: 18px 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 9999px;
  width: 55%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0);
          transform: translate(0);
}

header .header-text .header-email input::-webkit-input-placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
  font-size: 18px;
}

header .header-text .header-email input:-ms-input-placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
  font-size: 18px;
}

header .header-text .header-email input::-ms-input-placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
  font-size: 18px;
}

header .header-text .header-email input::placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
  font-size: 18px;
}

header .header-text .header-email button {
  background-color: #ff6a4d;
  color: #ffffff;
  padding: 18px 30px;
  font-size: 18px;
  border: none;
  border-radius: 9999px;
  margin-left: 6px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1.64152px 5.74533px -1.23114px rgba(239, 172, 0, 0.4), 0px 3px 4px -0.82076px rgba(239, 172, 0, 0.1);
          box-shadow: 0px 1.64152px 5.74533px -1.23114px rgba(239, 172, 0, 0.4), 0px 3px 4px -0.82076px rgba(239, 172, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0);
          transform: translate(0);
}

header .header-text .hidden-email {
  opacity: 0;
}

header .header-text .hidden-email input {
  -webkit-transform: translate(100px);
          transform: translate(100px);
  bottom: 0;
  opacity: 0;
}

header .header-text .hidden-email button {
  opacity: 0;
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
}

header .header-text .email-sent {
  margin-top: 65px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-text .email-sent #check-mark {
  -webkit-transform: translate(185px);
          transform: translate(185px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-text .email-sent #happy-face {
  -webkit-transform: translate(-185px);
          transform: translate(-185px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-text .email-sent p {
  font-weight: 500;
  font-size: 14.9534px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #2e1a47;
  margin-left: 13px;
}

header .header-text .email-sent-show {
  opacity: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-text .email-sent-show #check-mark {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-text .email-sent-show #happy-face {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .header-text .display-none {
  display: none;
}

header .header-text #span-bottom-text {
  margin-top: auto;
  font-size: 14px;
  color: #a9a1a1;
}

header .header-image {
  width: 55%;
}

header .header-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-left: -60px;
}

.partners-logos-section {
  margin-top: 25px;
  background-color: #eaeaf6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners-logos-section .partners-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.why-knowbie-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 239px;
}

.why-knowbie-section .why-knowbie-intro-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-knowbie-section .why-knowbie-intro-text h2 {
  width: 30%;
  background: -webkit-gradient(linear, right top, left top, color-stop(2.16%, rgba(234, 234, 246, 0)), color-stop(36.3%, #eaeaf6), color-stop(61.91%, #eaeaf6), to(rgba(234, 234, 246, 0)));
  background: linear-gradient(270deg, rgba(234, 234, 246, 0) 2.16%, #eaeaf6 36.3%, #eaeaf6 61.91%, rgba(234, 234, 246, 0) 100%);
  color: #b1b2dd;
  font-weight: 700;
  font-size: 45px;
}

.why-knowbie-section .why-knowbie-intro-text #intro-text {
  color: #2e1a47;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2%;
  font-weight: 700;
  width: 50%;
}

.why-knowbie-section .why-knowbie-intro-text span {
  height: 2px;
  width: 31px;
  background-color: #b1b2dd;
}

.why-knowbie-section .why-knowbie-intro-text #under-intro-text {
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  color: #8c8496;
  width: 40%;
}

.why-knowbie-section .why-knowbie-cards {
  position: relative;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-top: 70px;
  z-index: 5;
}

.why-knowbie-section .why-knowbie-cards .why-knowbie-card-container {
  background-color: #ffffff;
  border-radius: 21.5px;
  z-index: 10;
}

.why-knowbie-section .why-knowbie-cards .why-knowbie-card-container .why-knowbie-card {
  padding: 30px 50px 30px 40px;
}

.why-knowbie-section .why-knowbie-cards .why-knowbie-card-container .why-knowbie-card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #2e1a47;
  line-height: 23px;
}

.why-knowbie-section .why-knowbie-cards .why-knowbie-card-container .why-knowbie-card p {
  color: #8c8496;
  font-size: 14px;
}

.why-knowbie-section .why-knowbie-cards #why-knowbie-dec-img {
  position: absolute;
  bottom: -55px;
  right: -60px;
  z-index: 2;
}

.for-restaurants-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 346px;
}

.for-restaurants-section .for-restaurants-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-img {
  width: 60%;
  height: 40%;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text h2 {
  background: -webkit-gradient(linear, right top, left top, color-stop(2.16%, rgba(252, 238, 204, 0)), color-stop(36.3%, #fceecc), color-stop(61.91%, #fceecc), to(rgba(252, 238, 204, 0)));
  background: linear-gradient(270deg, rgba(252, 238, 204, 0) 2.16%, #fceecc 36.3%, #fceecc 61.91%, rgba(252, 238, 204, 0) 100%);
  color: #efac00;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 2.5px;
  margin-bottom: 27px;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text h3 {
  color: #2e1a47;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 26px;
  position: relative;
  display: inline-block;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text h3 span {
  color: #efac00;
  font-size: 32px;
  font-weight: 700;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text h3::before {
  display: block;
  content: "";
  width: 31px;
  height: 2px;
  background: #efac00;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text span {
  color: #8c8496;
  font-size: 18px;
  line-height: 24px;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text ul {
  margin-top: 73px;
  margin-left: 0;
  list-style: none;
  padding-left: 20px;
  width: 80%;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text ul li {
  color: #2e1a47;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 10px;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text ul li b {
  font-weight: 700;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text ul li::before {
  content: "\2022";
  color: #efac00;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  margin-left: -1em;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email {
  width: 100%;
  margin-top: 65px;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email input {
  background-color: #ffffff;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 9999px;
  width: 50%;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email input::-webkit-input-placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email input:-ms-input-placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email input::-ms-input-placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email input::placeholder {
  font-family: "Karla", sans-serif;
  color: #878b90;
}

.for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email button {
  background-color: #efac00;
  padding: 14px 12px;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 9999px;
}

.for-restaurants-section .for-restaurants-tools {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 240px;
}

.for-restaurants-section .for-restaurants-tools .for-restaurants-tools-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.for-restaurants-section .for-restaurants-tools .for-restaurants-tools-left #dec-for-restaurants {
  margin-top: 300px;
  margin-left: 64px;
}

.for-restaurants-section .for-restaurants-tools .for-restaurants-tools-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.for-restaurants-section .for-restaurants-tools .for-restaurants-tools-right #dec-for-restaurants-tools {
  position: absolute;
  right: 30px;
  top: 25%;
  z-index: 2;
}

.for-restaurants-section .for-restaurants-tools .for-restaurants-tools-right h2 {
  width: 75%;
  color: #2e1a47;
  font-size: 48px;
  line-height: 100px;
  margin-bottom: 122px;
  z-index: 10;
}

.for-restaurants-section .for-restaurants-tools .for-restaurants-tools-right h2 span {
  color: #efac00;
}

.for-servers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin-top: 240px;
}

.for-servers-section .for-servers-img img {
  width: 700px;
}

.for-servers-section .for-servers-text {
  width: 38%;
}

.for-servers-section .for-servers-text h2 {
  margin-bottom: 40px;
  color: #82db6d;
  background: -webkit-gradient(linear, right top, left top, color-stop(2.16%, rgba(230, 252, 225, 0)), color-stop(36.3%, #e6fce1), color-stop(61.91%, #e6fce1), to(rgba(230, 252, 225, 0)));
  background: linear-gradient(270deg, rgba(230, 252, 225, 0) 2.16%, #e6fce1 36.3%, #e6fce1 61.91%, rgba(230, 252, 225, 0) 100%);
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 2.5px;
  font-weight: bold;
}

.for-servers-section .for-servers-text h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1.90197px;
  color: #2e1a47;
  margin-top: 0;
  margin-bottom: 8px;
}

.for-servers-section .for-servers-text h3 span {
  color: #82db6d;
  font-size: 32px;
}

.for-servers-section .for-servers-text #for-servers-span {
  font-size: 18px;
  line-height: 24px;
  color: #8c8496;
  position: relative;
  font-weight: 100;
}

.for-servers-section .for-servers-text #for-servers-span::before {
  display: block;
  content: "";
  width: 31px;
  height: 2px;
  background: #82db6d;
  position: absolute;
  bottom: 25px;
  left: 0;
}

.for-servers-section .for-servers-text ul {
  margin-top: 85px;
  margin-left: 0;
  list-style: none;
  padding-left: 20px;
  width: 80%;
}

.for-servers-section .for-servers-text ul li {
  color: #2e1a47;
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 10px;
}

.for-servers-section .for-servers-text ul li b {
  font-weight: 700;
}

.for-servers-section .for-servers-text ul li::before {
  content: "\2022";
  color: #82db6d;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  margin-left: -1em;
}

.join-waitlist-section {
  width: 100%;
  background-color: rgba(194, 241, 183, 0.4);
  position: relative;
  text-align: center;
  padding: 94px 0;
}

.join-waitlist-section .join-waitlist-div {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 48%;
}

.join-waitlist-section .join-waitlist-div h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  color: #2e1a47;
  margin-bottom: 56px;
}

.join-waitlist-section .join-waitlist-div h3 span {
  color: #82db6d;
}

.join-waitlist-section .join-waitlist-div p {
  font-size: 24px;
  line-height: 40px;
  color: #8c8496;
}

.join-waitlist-section .join-waitlist-div input {
  background-color: #ffffff;
  border: none;
  border-radius: 9999px;
  font-size: 20px;
  line-height: 25px;
  padding: 15px 30px;
  width: 50%;
}

.join-waitlist-section .join-waitlist-div button {
  background-color: #c2f1b7;
  color: #2e1a47;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  border: none;
  border-radius: 9999px;
  padding: 15px 35px;
}

.join-waitlist-section .join-waitlist-div img {
  position: absolute;
  left: 0;
  bottom: -50%;
}

.show-phone-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 367px;
}

.show-phone-section .three-phones {
  position: relative;
  height: 100%;
  width: 342px;
}

.show-phone-section .three-phones #phone1 {
  position: absolute;
  top: -88px;
  z-index: 5;
  right: 15px;
}

.show-phone-section .three-phones #phone2 {
  z-index: 1000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -30px;
  right: 0;
  text-align: center;
  top: -100px;
}

.show-phone-section .three-phones #phone3 {
  position: absolute;
  z-index: 5;
  left: 20px;
  top: -88px;
}

.show-phone-section .three-phones #show-phone-dec {
  position: absolute;
  z-index: 10001;
  left: 375px;
  bottom: -640px;
}

.why-knowbie-clients-reviews {
  width: 100%;
  margin-top: 252px;
}

.why-knowbie-clients-reviews .why-knowbie-clients-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.why-knowbie-clients-reviews .why-knowbie-clients-text h2 {
  color: #ff6a4d;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 2.5px;
  font-weight: 700;
  background: -webkit-gradient(linear, right top, left top, color-stop(2.16%, rgba(255, 228, 223, 0)), color-stop(36.3%, #ffe4df), color-stop(61.91%, #ffe4df), to(rgba(255, 228, 223, 0)));
  background: linear-gradient(270deg, rgba(255, 228, 223, 0) 2.16%, #ffe4df 36.3%, #ffe4df 61.91%, rgba(255, 228, 223, 0) 100%);
  margin-bottom: 31px;
}

.why-knowbie-clients-reviews .why-knowbie-clients-text h3 {
  margin-top: 0;
  margin-bottom: 22px;
  color: #2e1a47;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  position: relative;
}

.why-knowbie-clients-reviews .why-knowbie-clients-text h3::after {
  display: block;
  content: "";
  position: absolute;
  width: 31px;
  height: 2px;
  background-color: #ff6a4d;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -8px;
  text-align: center;
}

.why-knowbie-clients-reviews .why-knowbie-clients-text p {
  color: #8c8496;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

.why-knowbie-clients-reviews .reviews-container {
  margin-top: 132px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: inherit;
}

.why-knowbie-clients-reviews .reviews-container .review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin: 0 30px;
  width: 50%;
  padding: 126px 90px 60px 140px;
  border-radius: 27px;
  text-align: center;
}

.why-knowbie-clients-reviews .reviews-container .review-container p {
  font-size: 20.3261px;
  line-height: 38px;
  color: #8c8496;
}

.why-knowbie-clients-reviews .reviews-container .review-container #full-name {
  font-weight: bold;
  font-size: 24.7234px;
  line-height: 31px;
  color: #2e1a47;
  margin-top: 50px;
}

.why-knowbie-clients-reviews .reviews-container .review-container #position {
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #2e1a47;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active {
  padding: 0 90px;
  -webkit-box-shadow: 0px 4px 4px -6px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  padding: 127px 90px 30px 90px;
  z-index: 10;
  position: relative;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active #prev {
  position: absolute;
  margin: auto;
  top: 0;
  left: -50px;
  bottom: 0;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active #next {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -50px;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo {
  position: absolute;
  margin: auto;
  top: -50px;
  right: 0;
  left: 0;
  background-color: #f56c55;
  width: 96.4px;
  height: 96.4px;
  border-radius: 9999px;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in #user-photo-dec-1 {
  position: absolute;
  left: -55px;
  top: -10px;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in #user-photo-dec-2 {
  position: absolute;
  right: -55px;
  z-index: -2;
  top: -13px;
}

.why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in img {
  width: 64.74px;
  height: 82.08px;
}

.why-knowbie-clients-reviews .reviews-container .prev-review {
  position: absolute;
  left: -55%;
  bottom: -40px;
}

.why-knowbie-clients-reviews .reviews-container .next-review {
  position: absolute;
  right: -55%;
  bottom: -40px;
}

.contact-us-section {
  margin-top: 266px;
  background-color: #eaeaf6;
  width: 100%;
  padding: 140px 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us-section .contact-us-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us-section .contact-us-container .contact-us-text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-text h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 46px;
  color: #2e1a47;
  margin-bottom: 24px;
  position: relative;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-text h2::before {
  display: block;
  content: "";
  width: 31px;
  height: 2px;
  background: #b1b2dd;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-text h2 span {
  color: #b1b2dd;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-text p {
  font-size: 20px;
  line-height: 32px;
  color: #8c8496;
  width: 330px;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-text p span {
  color: #b1b2dd;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info {
  background-color: #ffffff;
  padding: 80px 42px 50px 35px;
  -webkit-box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
  border-radius: 29.4045px;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info h3 {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -1.53339px;
  font-family: "Karla", sans-serif;
  color: #2e1a47;
  margin-top: 0;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info .contact-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info .contact-info-text:last-child {
  margin-bottom: 0;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info .contact-info-text p {
  margin-left: 20px;
  font-size: 17.0964px;
  line-height: 21px;
  color: #aea9b5;
  margin-bottom: 0;
  margin-top: 0;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info .contact-info-text #contact-us-time-img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info .contact-info-text #contact-us-time p {
  text-align: center;
  margin-top: 0;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info .contact-info-text #contact-us-time p:last-child {
  margin-top: 14px;
}

.contact-us-section .contact-us-container .contact-us-text-info .contact-us-info .contact-info-text #contact-us-time p span {
  margin-left: 15px;
}

.contact-us-section .contact-us-container .contact-us-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
  border-radius: 29.4045px;
  padding: 77px 56px 77px 43px;
  margin-left: 27px;
}

.contact-us-section .contact-us-container .contact-us-form-container h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 36px;
  color: #2e1a47;
  margin-top: 0;
  margin-bottom: 60px;
}

.contact-us-section .contact-us-container .contact-us-form-container .contact-us-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 34px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  margin-bottom: 60px;
}

.contact-us-section .contact-us-container .contact-us-form-container .contact-us-form input {
  background: rgba(234, 234, 246, 0.75);
  border-radius: 29.4045px;
  font-size: 17px;
  line-height: 21px;
  border: none;
  padding: 15px 20px;
  color: #8c8496;
}

.contact-us-section .contact-us-container .contact-us-form-container .contact-us-form input::-webkit-input-placeholder {
  color: #8c8496, 70%;
}

.contact-us-section .contact-us-container .contact-us-form-container .contact-us-form input:-ms-input-placeholder {
  color: #8c8496, 70%;
}

.contact-us-section .contact-us-container .contact-us-form-container .contact-us-form input::-ms-input-placeholder {
  color: #8c8496, 70%;
}

.contact-us-section .contact-us-container .contact-us-form-container .contact-us-form input::placeholder {
  color: #8c8496, 70%;
}

.contact-us-section .contact-us-container .contact-us-form-container .contact-us-form select {
  background: rgba(234, 234, 246, 0.75);
  border-radius: 29.4045px;
  font-size: 17px;
  line-height: 21px;
  border: none;
  padding: 15px 20px;
  color: #8c8496;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.contact-us-section .contact-us-container .contact-us-form-container textarea {
  margin-bottom: 70px;
  height: 126.4px;
  background: rgba(234, 234, 246, 0.75);
  border-radius: 29.4045px;
  font-size: 17px;
  line-height: 21px;
  border: none;
  padding: 15px 20px;
  color: #8c8496;
}

.contact-us-section .contact-us-container .contact-us-form-container button {
  width: 196.5px;
  background-color: #b1b2dd;
  color: #ffffff;
  font-weight: 500;
  font-size: 23px;
  line-height: 34px;
  border: none;
  border-radius: 9999px;
  padding: 16px 0;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-get-started-main {
  width: 100%;
  background-color: #2e1a47;
}

footer .footer-get-started-main .footer-get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 0 auto;
}

footer .footer-get-started-main .footer-get-started h4 {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #ffffff;
}

footer .footer-get-started-main .footer-get-started button {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 20.1044px;
  line-height: 34px;
  text-align: center;
  color: #2e1a47;
  border: none;
  border-radius: 9999px;
  padding: 12px 42px;
}

footer .main-footer-container {
  width: 100%;
  background-color: #ffffff;
  padding: 70px 0;
}

footer .main-footer-container .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 0 auto;
}

footer .main-footer-container .main-footer .footer-knowbie-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .main-footer-container .main-footer .footer-knowbie-logo span {
  margin-top: 60px;
  font-size: 12px;
  font-weight: 300;
}

footer .main-footer-container .main-footer .footer-contact-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

footer .main-footer-container .main-footer .footer-contact-follow .footer-contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .main-footer-container .main-footer .footer-contact-follow .footer-contact-us h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

footer .main-footer-container .main-footer .footer-contact-follow .footer-contact-us p {
  font-size: 13.0598px;
  line-height: 22px;
  letter-spacing: 0.003em;
  color: #2e1a47;
  margin-bottom: 0;
}

footer .main-footer-container .main-footer .footer-contact-follow .footer-follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

footer .main-footer-container .main-footer .footer-contact-follow .footer-follow-us .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .main-footer-container .main-footer .footer-contact-follow .footer-follow-us h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 1025px) {
  nav .nav-links-button .nav-links-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 0;
    height: 16px;
    width: 20px;
  }
  nav .nav-links-button .nav-links-burger .burger-menu {
    background-color: #2e1a47;
    height: 2px;
    width: 100%;
    opacity: 60%;
    border-radius: 999px;
  }
  nav .nav-links-button .nav-links {
    display: none;
  }
  nav button {
    display: none;
  }
  header {
    height: 45vh;
    width: 85%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-text h1 {
    font-size: 39.7149px;
    line-height: 48px;
    letter-spacing: -1.9353px;
  }
  header .header-text p {
    font-size: 600;
    font-size: 16px;
  }
  header .header-text .header-email input {
    width: 50%;
    font-size: 14px;
    padding: 14px 12px;
  }
  header .header-text .header-email input::-webkit-input-placeholder {
    font-size: 14px;
  }
  header .header-text .header-email input:-ms-input-placeholder {
    font-size: 14px;
  }
  header .header-text .header-email input::-ms-input-placeholder {
    font-size: 14px;
  }
  header .header-text .header-email input::placeholder {
    font-size: 14px;
  }
  header .header-text .header-email button {
    padding: 14px 24px;
    font-size: 14px;
  }
  header .header-image img {
    width: 607px;
    height: 438.04px;
    display: block;
    margin-right: -100px;
  }
  .why-knowbie-section {
    margin-top: 120px;
  }
  .why-knowbie-section .why-knowbie-intro-text h2 {
    width: 40%;
    font-size: 45px;
  }
  .for-restaurants-section {
    margin-top: 170px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .for-restaurants-section .for-restaurants-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .for-restaurants-section .for-restaurants-intro .for-restaurants-intro-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .for-restaurants-section .for-restaurants-intro .for-restaurants-intro-img img {
    width: 100%;
    margin-right: -200px;
  }
  .for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text h3::before {
    display: block;
    content: "";
    width: 31px;
    height: 2px;
    background: #efac00;
    position: absolute;
    bottom: -15px;
    margin: auto;
    right: 0;
    left: 0;
  }
  .for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text .for-restaurants-intro-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .for-restaurants-section .for-restaurants-intro .for-restaurants-intro-text button {
    margin-left: 8px;
  }
  .for-restaurants-section .for-restaurants-tools {
    margin-top: 140px;
  }
  .for-restaurants-section .for-restaurants-tools .for-restaurants-tools-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin-left: -80px;
    margin-right: 17px;
  }
  .for-restaurants-section .for-restaurants-tools .for-restaurants-tools-left #dec-for-restaurants {
    position: absolute;
    bottom: 20px;
    left: 120px;
  }
  .for-restaurants-section .for-restaurants-tools .for-restaurants-tools-right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .for-restaurants-section .for-restaurants-tools .for-restaurants-tools-right #dec-for-restaurants-tools {
    position: absolute;
    right: 150px;
    top: 15%;
    z-index: 2;
  }
  .for-restaurants-section .for-restaurants-tools .for-restaurants-tools-right h2 {
    width: 100%;
    line-height: 50px;
    font-size: 38px;
  }
  .for-servers-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    margin-top: 240px;
  }
  .for-servers-section .for-servers-img img {
    width: 700px;
  }
  .for-servers-section .for-servers-text {
    width: 90%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .for-servers-section .for-servers-text h2 {
    width: 50%;
  }
  .for-servers-section .for-servers-text #for-servers-span::before {
    bottom: 30px;
    margin: auto;
    right: 0;
    left: 0;
  }
  .for-servers-section .for-servers-text ul {
    text-align: left;
  }
  .for-servers-section .for-servers-text ul li {
    margin-bottom: 15px;
  }
  .join-waitlist-section {
    padding: 50px 0;
  }
  .join-waitlist-section .join-waitlist-div {
    width: 65%;
  }
  .join-waitlist-section .join-waitlist-div h3 {
    margin-bottom: 40px;
    margin-top: 0;
  }
  .join-waitlist-section .join-waitlist-div p {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .join-waitlist-section .join-waitlist-div input {
    font-size: 18px;
    padding: 10px 20px;
  }
  .join-waitlist-section .join-waitlist-div button {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px;
  }
  .join-waitlist-section .join-waitlist-div img {
    left: -150px;
  }
  .show-phone-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 250px;
  }
  .show-phone-section #left-phone {
    display: none;
  }
  .show-phone-section #right-phone {
    display: none;
  }
  .show-phone-section .three-phones {
    position: relative;
    height: 100%;
    width: 250px;
  }
  .show-phone-section .three-phones #phone1 {
    height: 650px;
    left: -175px;
    top: -45px;
  }
  .show-phone-section .three-phones #phone2 {
    position: relative;
    height: 700px;
  }
  .show-phone-section .three-phones #phone3 {
    height: 650px;
    left: 25px;
    top: -45px;
  }
  .show-phone-section .three-phones #show-phone-dec {
    position: absolute;
    z-index: 10001;
    left: 315px;
    bottom: 170px;
  }
  .why-knowbie-clients-reviews {
    margin-top: 100px;
  }
  .why-knowbie-clients-reviews .why-knowbie-clients-text h2 {
    margin-bottom: 18px;
  }
  .why-knowbie-clients-reviews .why-knowbie-clients-text h3 {
    margin-bottom: 11px;
  }
  .why-knowbie-clients-reviews .why-knowbie-clients-text p {
    color: #8c8496;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
  }
  .why-knowbie-clients-reviews .reviews-container {
    margin-top: 100px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container {
    padding: 53px 32px 60px 32px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container #full-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    margin-top: 20px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container #position {
    font-size: 14px;
    line-height: 9px;
    margin-top: 5px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container-active {
    padding: 53px 32px 15px 32px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo {
    position: absolute;
    margin: auto;
    top: -30px;
    right: 0;
    left: 0;
    background-color: #f56c55;
    width: 48.2px;
    height: 48.2px;
    border-radius: 9999px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in #user-photo-dec-1 {
    position: absolute;
    left: -25px;
    top: 7px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in #user-photo-dec-2 {
    position: absolute;
    right: -25px;
    z-index: -2;
    top: 3px;
  }
  .why-knowbie-clients-reviews .reviews-container .review-container-active #user-photo #user-photo-in img {
    width: 27.96px;
    height: 35.45px;
  }
  .contact-us-section {
    margin-top: 100px;
  }
  .contact-us-section .contact-us-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-us-section .contact-us-container .contact-us-text-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  .contact-us-section .contact-us-container .contact-us-text-info .contact-us-text {
    margin: 0 auto;
    text-align: center;
  }
  .contact-us-section .contact-us-container .contact-us-text-info .contact-us-text h2::before {
    margin: auto;
    right: 0;
    left: 0;
  }
  .contact-us-section .contact-us-container .contact-us-text-info .contact-us-text p {
    width: 80%;
    margin: 15px auto;
  }
  .contact-us-section .contact-us-container .contact-us-text-info .contact-us-info {
    background-color: #ffffff;
    padding: 80px 42px 50px 35px;
    -webkit-box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.07);
    border-radius: 29.4045px;
    width: 80%;
  }
  .contact-us-section .contact-us-container .contact-us-text-info .contact-us-info h3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1.53339px;
    font-family: "Karla", sans-serif;
    color: #2e1a47;
    margin-top: 0;
  }
  .contact-us-section .contact-us-form-container {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */