$main-bg-color: #F5F5F5;
$white-bg-color: #FFFFFF;
$white-lilac-bg-color: #EAEAF6;
$mint-bg-color: #C2F1B7;

$primary-text-color: #2E1A47;
$secondary-text-color: #8C8496;
$mid-gray-text-color: #696871;

$persimmon-color: #FF6A4D;