@import "fonts", "colors";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font-family;
  background-color: $main-bg-color;
  padding-top: 43px;
  overflow-x: hidden;
}
